.ui.borderless.inverted.top.attached.menu {
  border-radius: 0;
  background-color: #024731;
}

.landing-page {
  background: url('images/krauss.png') no-repeat center center fixed;
  background-size: cover;
  padding-top: 1em;
  padding-bottom: 1em;
}

.ui.header.landing-title {
  color: #063;
}

.ui.center.aligned.segment {
  padding-top: 20px;
  color: #063;
}

.ui.centered.container.stackable.three.column.grid {
  margin-top: 50px;
}

.ui.center.aligned.header.large-header {
  padding-bottom: 20px;
}

.search.bar {
  text-align: center;
}
