.ui.borderless.inverted.top.attached.menu {
  border-radius: 0;
  background-color: #024731;
}

.landing-page {
  background: url('images/krauss.png') no-repeat center center fixed;
  background-size: cover;
  padding-top: 1em;
  padding-bottom: 1em;
}

.ui.center.aligned.segment {
  background-color: #024731;
}